{% extends 'gyms/main.html' %}

{% block content %}

<div class="">
    <div class="card">
        <div class="card-header">
            <h3 class="text-center">{{ heading }}</h3>
        </div>
        <div class="card-body">
            <p>Are you sure you want to delete "{{ trainer.name }}"?</p>
            <form action="{% url 'trainer_delete' trainer.id %}" method="POST">
                {% csrf_token %}
                <br>
                <a href="{% url 'trainers' %}" type="button" class="update-book btn btn-primary">Cancel</a>
                  <button type="submit" name="submit" class="btn btn-danger">{{ heading }}</button>
            </form>
        </div>
    </div>
</div>

{% endblock %}