<div class="card text-black mb-3">
  <h5 class="card-header text-center">Payment Due This Month</h5>
  <div class="card-body">
      <div align="center" style="overflow:auto">
          <table id="myTable" class="table table-striped table-hover">
              <thead>
                  <tr>
                      <th scope="col">Member Id</th>
                      <th scope="col">Name</th>
                      <th scope="col">Contact</th>
                      <th scope="col">Joining Date</th>
                      <th scope="col">Added By</th>
                      <th scope="col">Updated By</th>
                  </tr>
              </thead>
              <tbody>
              {% for member in due_members %}
                  <tr>
                      <td>
                          <a href="{% url 'member_detail' member.id %}" type="button" class="update-book btn btn-sm btn-info">
                          {{ member.member_id }}
                          </a>
                      </td>
                      <td>{{ member.name }}</td>
                      <td>{{ member.contact_number }}</td>
                      <td>{{ member.joining_date }}</td>
                      <td>{{ member.added_by }}</td>
                      <td>{{ member.updated_by }}</td>
                  </tr>
              {% endfor %}
              </tbody>
          </table>
      </div>
  </div>
</div>