<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Reset</title>
    <link rel="stylesheet" type="text/css" href="{% static '/css/register_user.css' %}">
</head>
    <body>
        <form class="box" action="" method="POST" autocomplete="off" id="myForm">
			<h1>Password Reset</h1>
			<p>Please enter your new password twice so we can verify you typed it in correctly.</p>
			{% csrf_token %}
			{{form.as_p}}
			<input type="Submit" name="Update Password">	
		</form>
    </body>
</html>