<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Reset</title>
    <link rel="stylesheet" type="text/css" href="{% static '/css/register_user.css' %}">
</head>
    <body>
        <form class="box" action="" method="POST" autocomplete="off" id="myForm">
			<h1>Password Reset</h1>
			<p>
				Forgotten your password? Enter your email address below,
				and we’ll email instructions for setting a new one.
			</p>
			{% csrf_token %}
			<br>
			{{ form.as_p }}
			<input type="submit" name="submit" value="Send Email">	
					
            <p><a href="{% url 'login' %}" type="button">Login</a></p>
		</form>		
    </body>
</html>